

<style type="text/css">
    #contract{
        height: 640px;
        overflow: auto;
        position: relative;
        border-radius: 8px;
        background-color: #FFF;
        border:solid 2px #808080;
    }

    #text{
        width: 98%;
        margin: 0 auto;
    }

</style>

<div id="contract" class="scrollspy-example">
    <div id="text">
        <h1 style="text-align:center;">
            <b><span style="font-size:18px;font-family:宋体;">会员协议</span></b>
        </h1>
        <h1 style="text-align:right;">
            <b><span style="font-size:10.0pt;font-family:宋体;"><span style="font-size:14px;">合同号：</span><span style="font-size:14px;">LJHXY</span><span style="font-size:14px;">（</span><span style="font-size:14px;">2015</span><span style="font-size:14px;">）</span><span style="font-size:14px;" id="contractNumStr">******</span></span></b><b><span style="font-family:宋体;font-size:14px;">&nbsp;</span></b>
        </h1>
        <p class="MsoNormal">
            <span style="font-family:宋体;font-size:14px;">姓名：</span><span style="font-family:微软雅黑;font-size:14px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style="font-family:宋体;font-size:14px;">性别：</span><span style="font-family:微软雅黑;"></span>
        </p>
        <p class="MsoNormal">
            <span style="font-family:宋体;font-size:14px;">身份证号码：</span><span style="font-family:微软雅黑;"></span>
        </p>
        <p class="MsoNormal">
            <span style="font-family:宋体;font-size:14px;">家庭地址：</span><span style="font-family:微软雅黑;"></span>
        </p>
        <p class="MsoNormal">
            <span style="font-family:宋体;font-size:14px;">联系方式：</span><span style="font-family:微软雅黑;"></span>
        </p>
        <p class="MsoNormal">
            <span style="font-family:微软雅黑;font-size:14px;">&nbsp;</span>
        </p>
        <p class="MsoNormal">
            <span style="font-family:宋体;font-size:14px;">购买会员卡如下：</span><span style="font-family:微软雅黑;"></span>
        </p>
        <table class="MsoNormalTable" border="1" cellspacing="0" cellpadding="0" style="border-collapse:collapse;border:none;">
            <tbody>
            <tr>
                <td width="107" style="border:solid windowtext 1.5pt;">
                    <p class="MsoNormal" align="center" style="text-align:center;">
                        <span style="font-family:宋体;font-size:14px;">会员卡号</span><span style="font-family:微软雅黑;"></span>
                    </p>
                </td>
                <td width="107" style="border:solid windowtext 1.5pt;">
                    <p class="MsoNormal" align="center" style="text-align:center;">
                        <span style="font-family:宋体;font-size:14px;">会员种类</span><span style="font-family:微软雅黑;"></span>
                    </p>
                </td>
                <td width="107" style="border:solid windowtext 1.5pt;">
                    <p class="MsoNormal" align="center" style="text-align:center;">
                        <span style="font-family:宋体;font-size:14px;">金额</span><span style="font-family:微软雅黑;"></span>
                    </p>
                </td>
                <td width="107" style="border:solid windowtext 1.5pt;">
                    <p class="MsoNormal" align="center" style="text-align:center;">
                        <span style="font-family:宋体;font-size:14px;">有效期</span><span style="font-family:微软雅黑;"></span>
                    </p>
                </td>
            </tr>
            <tr>
                <td width="107" style="border:solid windowtext 1.5pt;">
                    <p class="MsoNormal" align="center" style="text-align:center;">
                        <span style="font-family:微软雅黑;font-size:14px;">&nbsp;</span>
                    </p>
                </td>
                <td width="107" style="border:solid windowtext 1.5pt;">
                    <p class="MsoNormal" align="center" style="text-align:center;">
                        <span style="font-family:微软雅黑;font-size:14px;">&nbsp;</span>
                    </p>
                </td>
                <td width="107" style="border:solid windowtext 1.5pt;">
                    <p class="MsoNormal" align="center" style="text-align:center;">
                        <span style="font-family:微软雅黑;font-size:14px;">&nbsp;</span>
                    </p>
                </td>
                <td width="107" style="border:solid windowtext 1.5pt;">
                    <p class="MsoNormal" align="center" style="text-align:center;">
                        <span style="font-family:微软雅黑;font-size:14px;">&nbsp;</span>
                    </p>
                </td>
            </tr>
            </tbody>
        </table>
        <p class="MsoNormal">
            <b><span style="font-family:微软雅黑;font-size:14px;">&nbsp;</span></b>
        </p>
        <p class="MsoNormal">
            <span style="font-family:宋体;"><span style="font-size:14px;">* </span><span style="font-size:14px;">本人已阅读并完全接受本协议以下（正反面）的各项条款，并在上面签字确认。</span></span><span style="font-family:宋体;"></span>
        </p>
        <p class="MsoNormal" style="margin-left:10.0cm;text-indent:-10.0cm;">
            <span style="font-family:宋体;"><span style="font-size:14px;">* </span><span style="font-size:14px;">本合同盖章有效，不得涂改。</span></span>
        </p>
        <p class="MsoNormal" style="margin-left:10.0cm;text-indent:-10.0cm;">
            <span style="font-family:宋体;"><span style="font-size:14px;">* </span><span style="font-size:14px;">所有签字人员须正楷签名。</span></span>
        </p>
        <p class="MsoNormal" style="margin-left:10.0cm;text-indent:-10.0cm;">
	<span style="font-family:宋体;"><span style="font-size:14px;"><br />
</span></span>
        </p>
        <p class="MsoNormal">
            <span style="font-family:宋体;font-size:14px;">顾问：</span><span style="font-family:宋体;"><span style="font-size:14px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="font-size:14px;">会员：</span></span>
        </p>
        <p class="MsoNormal">
            <span style="font-family:宋体;font-size:14px;">日期：</span><span style="font-family:宋体;"><span style="font-size:14px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;</span><span style="font-size:14px;">日期：</span></span>
        </p>
        <p class="MsoNormal" style="margin-left:10.0cm;text-indent:-10.0cm;">
            <span style="font-family:宋体;font-size:14px;">收银：</span><span style="font-family:宋体;"><span style="font-size:14px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style="font-size:14px;">公司：</span></span>
        </p>
        <p class="MsoNormal" style="margin-left:10.0cm;text-indent:-10.0cm;">
            <span style="font-family:宋体;font-size:14px;">日期：</span><span style="font-family:宋体;"><span style="font-size:14px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style="font-size:14px;">日期：</span></span>
        </p>
        <p class="MsoNormal" style="margin-left:10.0cm;text-indent:-10.0cm;">
	<span style="font-family:宋体;"><span style="font-size:14px;"><br />
</span></span>
        </p>
        <p class="MsoNormal" style="margin-left:306.75pt;text-indent:-306.75pt;">
            <b><span style="font-family:宋体;font-size:14px;">第一章</span></b><b><span style="font-family:宋体;"><span style="font-size:14px;">&nbsp; </span><span style="font-size:14px;">总则</span></span></b><b><span style="font-family:宋体;"></span></b>
        </p>
        <p class="MsoNormal">
            <span style="font-family:宋体;font-size:14px;">第一条：成都乐健汇健康管理咨询有限公司（以下简称“本公司”）旗下健身俱乐部名称</span><u><span style="font-family:宋体;"><span style="font-size:14px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style="font-size:14px;">乐健汇健身俱乐部（</span><span style="font-size:14px;">****</span><span style="font-size:14px;">店）</span><span style="font-size:14px;">(</span><span style="font-size:14px;">以下简称“本俱乐部”</span><span style="font-size:14px;">)&nbsp; </span></span></u><u><span style="font-family:宋体;"></span></u>
        </p>
        <p class="MsoNormal">
            <span style="font-family:宋体;font-size:14px;">本俱乐部地址：</span><u><span style="font-family:宋体;font-size:14px;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span></u>
        </p>
        <p class="MsoNormal">
            <span style="font-family:宋体;font-size:14px;">第二条：本公司与会员均有义务遵守此协议，并可依据政府法律调整和行业规范变更等情况，对本协议进行修改，修改的内容将在本俱乐部内部张贴十五日作为对会员的告知。</span>
        </p>
        <p class="MsoNormal">
            <b><span style="font-family:宋体;font-size:14px;">第二章</span></b><b><span style="font-family:宋体;"><span style="font-size:14px;">&nbsp; </span><span style="font-size:14px;">经营及管理 </span></span></b><b><span style="font-family:宋体;"></span></b>
        </p>
        <p class="MsoNormal">
            <span style="font-family:宋体;font-size:14px;">第三条：本俱乐部所有经营、管理等营运规章制度依本公司董事会决议或授权行使。</span>
        </p>
        <p class="MsoNormal">
            <b><span style="font-family:宋体;font-size:14px;">第三章</span></b><b><span style="font-family:宋体;"><span style="font-size:14px;">&nbsp; </span><span style="font-size:14px;">会员之权利与义务 </span></span></b><b><span style="font-family:宋体;"></span></b>
        </p>
        <p class="MsoNormal">
            <span style="font-family:宋体;font-size:14px;">会员的权利</span><span style="font-family:宋体;"></span>
        </p>
        <p class="MsoNormal">
            <span style="font-family:宋体;"><span style="font-size:14px;">第四条：会员根据自身会籍类型的不同，享有使用既定本俱乐部服务与各种由本俱乐部提供的专业服务的权利。</span><span style="color:#4BACC6;font-size:14px;">“专业服务”</span><span style="font-size:14px;">包括但不限于免费体测一次（仅限期限卡及个人次卡办理者），各类运动器械使用，参加各类大团体课程。本公司和本俱乐部有权不时颁布、修改服务及课程内容。会员有权自行选择当时公布的有效的专业服务和课程内容，但是未使用专业服务和</span></span><span style="font-family:宋体;"><span style="font-size:14px;">/</span><span style="font-size:14px;">或未参加课程不得减少会员支付的购卡价格（如此协议第六所定义）。</span></span>
        </p>
        <p class="MsoNormal">
            <span style="font-family:宋体;font-size:14px;">第五条：在一些特别情况下，例如出差、休假等，会员可将会籍时间临时冻结一个月以上（不计会籍时间），但需遵循以下规定：</span><span style="font-family:宋体;"></span>
        </p>
        <p class="1" style="margin-left:0cm;text-indent:0cm;">
            <span style="font-family:宋体;"><span style="font-size:14px;">1.</span><span style="font-size:14px;font-family:'Times New Roman';">&nbsp;&nbsp; </span></span><span style="font-family:宋体;font-size:14px;">会员必须本人至本俱乐部办理会员资格冻结手续。（是否需要持身份证）</span><span style="font-family:宋体;"></span>
        </p>
        <p class="1" style="margin-left:0cm;text-indent:0cm;">
            <span style="font-family:宋体;"><span style="font-size:14px;">2.</span><span style="font-size:14px;font-family:'Times New Roman';">&nbsp;&nbsp; </span></span><span style="font-family:宋体;font-size:14px;">会员资格冻结手续必须事前办理，不得事后补办。</span><span style="font-family:宋体;"></span>
        </p>
        <p class="1" style="margin-left:0cm;text-indent:0cm;">
            <span style="font-family:宋体;"><span style="font-size:14px;">3.</span><span style="font-size:14px;font-family:'Times New Roman';">&nbsp;&nbsp; </span></span><span style="font-family:宋体;"><span style="font-size:14px;">会员资格冻结手续仅限期限卡</span><span style="color:#4BACC6;font-size:14px;">一年卡以上会员才能办理</span><span style="font-size:14px;">，冻结周期可为一个月、二个月或三个月，不得破月办理。</span></span><span style="font-family:宋体;"></span>
        </p>
        <p class="1" style="margin-left:0cm;text-indent:0cm;">
            <span style="font-family:宋体;"><span style="font-size:14px;">4.</span><span style="font-size:14px;font-family:'Times New Roman';">&nbsp;&nbsp; </span></span><span style="font-family:宋体;font-size:14px;">会员资格冻结手续办理时根据暂停时间须支付</span><span style="font-family:宋体;color:#4BACC6;"><span style="font-size:14px;">10</span><span style="font-size:14px;">元</span><span style="font-size:14px;">/</span><span style="font-size:14px;">月</span></span><span style="font-family:宋体;font-size:14px;">暂停费。</span><span style="font-family:宋体;"></span>
        </p>
        <p class="1" style="margin-left:0cm;text-indent:0cm;">
            <span style="font-family:宋体;"><span style="font-size:14px;">5.</span><span style="font-size:14px;font-family:'Times New Roman';">&nbsp;&nbsp; </span></span><span style="font-family:宋体;"><span style="font-size:14px;">会员资格冻结手续在每</span><span style="color:#4BACC6;font-size:14px;">一会籍年度最多办理一次</span><span style="font-size:14px;">。</span></span><span style="font-family:宋体;"></span>
        </p>
        <p class="1" style="margin-left:0cm;text-indent:0cm;">
            <span style="font-family:宋体;"><span style="font-size:14px;">6.</span><span style="font-size:14px;font-family:'Times New Roman';">&nbsp;&nbsp; </span></span><span style="font-family:宋体;font-size:14px;">会员资格冻结时限到期后，会员资格将自动恢复，并开始计算会籍时间。</span><span style="font-family:宋体;"></span>
        </p>
        <p class="1" style="margin-left:0cm;text-indent:0cm;">
            <span style="font-family:宋体;"><span style="font-size:14px;">7.</span><span style="font-size:14px;font-family:'Times New Roman';">&nbsp;&nbsp; </span></span><span style="font-family:宋体;font-size:14px;">女性会员因怀孕可享受连续</span><span style="font-family:宋体;"><span style="font-size:14px;">12</span><span style="font-size:14px;">个月的会员资格免费冻结，但必须事前持有效证明至本俱乐部亲自办理。</span></span><span style="font-family:宋体;"></span>
        </p>
        <p class="1" style="margin-left:0cm;text-indent:0cm;">
            <span style="font-family:宋体;"><span style="font-size:14px;">8.</span><span style="font-size:14px;font-family:'Times New Roman';">&nbsp;&nbsp; </span></span><span style="font-family:宋体;"><span style="font-size:14px;">会员在冻结期内不得使用享有使用本俱乐部服务与各种由本俱乐部提供的专业服务的权利（包括不得使用私人教练课程），如果提前使用，会员冻结期即日启动，并视为冻结期完</span><span style="font-size:14px;background:yellow;">全</span><span style="font-size:14px;">结束。</span></span><span style="font-family:宋体;line-height:1.5;font-size:14px;">&nbsp;</span>
        </p>
        <p class="MsoNormal">
            <span style="font-family:宋体;"><span style="font-size:14px;">第六条：除一年卡以上期限卡及个人次卡和</span><span style="color:red;font-size:14px;background:yellow;">私教</span><span style="font-size:14px;background:yellow;">课程</span><span style="font-size:14px;">（私教课程可以转让吗？？）外，会员不得将会籍转让给他人。会员会籍转让必须遵循以下规定：</span></span><span style="font-family:宋体;"></span>
        </p>
        <p class="1" style="margin-left:0cm;text-indent:0cm;">
            <span style="font-family:宋体;"><span style="font-size:14px;">1.</span><span style="font-size:14px;font-family:'Times New Roman';">&nbsp;&nbsp; </span></span><span style="font-family:宋体;font-size:14px;">会员卡必须在会籍启动后转让，且只可转让一次，受让人不得再次转让。 </span><span style="font-family:宋体;"></span>
        </p>
        <p class="1" style="margin-left:0cm;text-indent:0cm;">
            <span style="font-family:宋体;color:red;"><span style="font-size:14px;">2.</span><span style="font-size:14px;font-family:'Times New Roman';">&nbsp;&nbsp; </span></span><span style="font-family:宋体;color:red;font-size:14px;">转让手续费为一年以上</span><span style="font-family:宋体;color:#4BACC6;font-size:14px;">期限卡</span><span style="font-family:宋体;color:#4BACC6;"><span style="font-size:14px;">150</span><span style="font-size:14px;">元（含体测一次）。</span></span><span style="font-family:宋体;color:red;"> </span><span style="font-family:宋体;color:red;"></span>
        </p>
        <p class="1" style="margin-left:0cm;text-indent:0cm;">
            <span style="font-family:宋体;"><span style="font-size:14px;">3.</span><span style="font-size:14px;font-family:'Times New Roman';">&nbsp;&nbsp; </span></span><span style="font-family:宋体;"><span style="font-size:14px;">受让人</span><span style="color:red;font-size:14px;">不享有转让人购卡时享有的的特殊优惠，</span><span style="font-size:14px;">包括但不限于赠劵、更衣箱等。</span></span>
        </p>
        <p class="MsoNormal">
            <span style="font-family:宋体;font-size:14px;">第七条：单店卡会员可将会籍转至本公司旗下其他俱乐部使用，但必须遵循以下规定： </span><span style="font-family:宋体;"></span>
        </p>
        <p class="1" style="margin-left:0cm;text-indent:0cm;">
            <span style="font-family:宋体;"><span style="font-size:14px;">1.</span><span style="font-size:14px;font-family:'Times New Roman';">&nbsp;&nbsp; </span></span><span style="font-family:宋体;font-size:14px;">同价格体系内转店除交纳手续费外无须再交纳其他任何费用，低价格体系店转至高价格体系店需在交纳转店手续费的同时交纳差价部分的不足金额，高价格体系店转低价格体系店需交纳转店手续费，本公司将不予退回差价部分金额。一张卡在会籍期内只可享有一次转店权利。</span><span style="font-family:宋体;"></span>
        </p>
        <p class="1" style="margin-left:0cm;text-indent:0cm;">
            <span style="font-family:宋体;"><span style="font-size:14px;">2.</span><span style="font-size:14px;font-family:'Times New Roman';">&nbsp;&nbsp; </span></span><span style="font-family:宋体;font-size:14px;">转店手续费为购卡合计价格（如本条定义）的</span><span style="font-family:宋体;"><span style="font-size:14px;">5%</span><span style="font-size:14px;">。</span></span><span style="font-family:宋体;"></span>
        </p>
        <p class="1" style="margin-left:0cm;text-indent:0cm;">
            <span style="font-family:宋体;"><span style="font-size:14px;">3.</span><span style="font-size:14px;font-family:'Times New Roman';">&nbsp;&nbsp; </span></span><span style="font-family:宋体;font-size:14px;">会员合同备注栏内约定不得转店的会籍卡，不享受转店权利。</span><span style="font-family:宋体;"></span>
        </p>
        <p class="1" style="margin-left:18.0pt;text-indent:0cm;">
            <span style="font-family:宋体;font-size:14px;">“购卡合计价格”指会员在获得会员卡时支付的一次性费用，如同此协议文首列明的由会员支付的各项费用的合计，包括会籍服务费，初始制卡费，体质评测费，礼品费，健康顾问费等。</span>
        </p>
        <p class="MsoNormal">
            <span style="font-family:宋体;font-size:14px;">第八条：会员享受续会优惠的权利，但必须遵循以下规定：</span><span style="font-family:宋体;"></span>
        </p>
        <p class="1" style="margin-left:0cm;text-indent:0cm;">
            <span style="font-family:宋体;"><span style="font-size:14px;">1.</span><span style="font-size:14px;font-family:'Times New Roman';">&nbsp;&nbsp; </span></span><span style="font-family:宋体;color:#4BACC6;font-size:14px;">续会必须在会籍有效期内进行，</span><span style="font-family:宋体;font-size:14px;">否则不享受优惠价格。</span><span style="font-family:宋体;"></span>
        </p>
        <p class="1" style="margin-left:0cm;text-indent:0cm;">
            <span style="font-family:宋体;"><span style="font-size:14px;">2.</span><span style="font-size:14px;font-family:'Times New Roman';">&nbsp;&nbsp; </span></span><span style="font-family:宋体;font-size:14px;">公司优惠卡种、学生卡、转让卡、业主卡、赠送卡不享受任何续会优惠，包括但不限于折扣与赠月。</span>
        </p>
        <p class="1" style="margin-left:0cm;text-indent:0cm;">
	<span style="font-family:宋体;"><br />
</span>
        </p>
        <p class="MsoNormal">
            <b><span style="font-family:宋体;font-size:14px;">第四章 会员义务 </span></b><b><span style="font-family:宋体;"></span></b>
        </p>
        <p class="MsoNormal">
            <span style="font-family:宋体;font-size:14px;">第九条：会员因特殊情况无法亲自办理相关手续的，可委托他人持委托书、委托人与被委托人的有效身份证件、会员卡进行办理。</span>
        </p>
        <p class="MsoNormal">
            <span style="font-family:宋体;font-size:14px;">第十条：会员卡一经办理后，不得办理退换或退款手续，有效期满后将自动作废。</span><span style="font-family:宋体;line-height:1.5;font-size:14px;">&nbsp;</span>
        </p>
        <p class="MsoNormal">
            <span style="font-family:宋体;font-size:14px;">第十一条：期限卡仅限本人使用，不得出借他人。个人次卡可多人使用。团体次卡只能以公司名义购卡、开卡及使用，可多人使用。</span>
        </p>
        <p class="MsoNormal">
            <span style="font-family:宋体;font-size:14px;">第十二条：会员进入本俱乐部时必须主动出示会员卡，该会员卡必须登记会员个人信息，包括但不限于姓名、性别、身份证号、照片。。。。（请补充），且该会员卡必须在有效期内使用。会员应听从教练或服务人员的指导，正确使用本俱乐部设施或参加课程、活动。</span>
        </p>
        <p class="MsoNormal">
            <span style="font-family:宋体;font-size:14px;">第十三条：会员对本俱乐部设施造成损坏，须照价赔偿。</span>
        </p>
        <p class="MsoNormal">
            <span style="font-family:宋体;font-size:14px;">第十四条：会员购卡后，必须于本协议签定日起</span><span style="font-family:宋体;color:#4BACC6;"><span style="font-size:14px;">15</span><span style="font-size:14px;">天内启动会籍</span></span><span style="font-family:宋体;font-size:14px;">，</span><span style="font-family:宋体;"><span style="font-size:14px;">15</span><span style="font-size:14px;">天内如无手工启动，</span><span style="font-size:14px;">15</span><span style="font-size:14px;">天后会员系统将默认开始计算会籍使用期。预售期会员卡于本俱乐部开业时统一启动。</span></span>
        </p>
        <p class="MsoNormal">
            <span style="font-family:宋体;"><span style="font-size:14px;">第十五条：会员卡遗失，会员应及时向本中心报失，并</span><span style="color:#4BACC6;font-size:14px;">办理补卡手续，手续费为</span></span><span style="font-family:宋体;color:#4BACC6;"><span style="font-size:14px;">20</span><span style="font-size:14px;">元</span><span style="font-size:14px;">/</span><span style="font-size:14px;">张。</span></span><span style="font-family:宋体;font-size:14px;">（是否需要会员本人亲自持身份证办理报失手续？）</span><span style="font-family:宋体;"></span>
        </p>
        <p class="MsoNormal">
            <span style="font-family:宋体;color:red;font-size:14px;">（这一条放在本协议第七章）</span><span style="font-family:宋体;"></span>
        </p>
        <p class="MsoNormal">
            <span style="font-family:宋体;"><span style="font-size:14px;">（</span><span style="color:red;font-size:14px;">这一条放在本协议第八章</span><span style="font-size:14px;">）</span></span><span style="font-family:宋体;"></span>
        </p>
        <p class="MsoNormal">
            <b><span style="font-family:宋体;font-size:14px;">第四章 俱乐部之权利与义务</span></b><b><span style="font-family:宋体;"></span></b>
        </p>
        <p class="MsoNormal">
            <span style="font-family:宋体;font-size:14px;">俱乐部的权利</span><span style="font-family:宋体;"></span>
        </p>
        <p class="MsoNormal">
            <span style="font-family:宋体;font-size:14px;">第十六条：按照俱乐部章程规定收取会费，并有权制定及更改会籍费用标准。</span><span style="font-family:宋体;line-height:1.5;font-size:14px;">&nbsp;</span>
        </p>
        <p class="MsoNormal">
            <span style="font-family:宋体;font-size:14px;">第十七条：视具体情况，本俱乐部有权调整及更改本俱乐部课程内容、课程时间安排或取消既定安排，而无需征得会员同意。</span>
        </p>
        <p class="MsoNormal">
            <span style="font-family:宋体;font-size:14px;">第十八条：制止会员违反国家法律法规或本俱乐部章程规定的行为，情节严重者，本俱乐部有权取消会员资格，并不给予任何赔偿。</span>
        </p>
        <p class="MsoNormal">
            <span style="font-family:宋体;font-size:14px;">第十九条：制止会员损坏俱乐部设施的行为，并有权获得赔偿。</span>
        </p>
        <p class="MsoNormal">
            <span style="font-family:宋体;font-size:14px;">第二十条：为使本俱乐部管理更加专业，本俱乐部有权修改或增加章程规则，而无需征得会员同意。</span>
        </p>
        <p class="MsoNormal">
            <span style="font-family:宋体;font-size:14px;">第二十一条：因健身设施必须进行不定期保养、维修和维护等，本俱乐部保留暂时关闭该项设施的权利。</span>
        </p>
        <p class="MsoNormal">
            <span style="font-family:宋体;font-size:14px;">（与第十条重复）</span><span style="font-family:宋体;"></span>
        </p>
        <p class="MsoNormal">
            <span style="font-family:宋体;font-size:14px;">&nbsp;</span>
        </p>
        <p class="MsoNormal">
            <span style="font-family:宋体;"><span style="font-size:14px;">（</span><span style="color:red;font-size:14px;">这一条放在本协议第七章）</span></span><span style="font-family:宋体;"></span>
        </p>
        <p class="MsoNormal">
            <span style="font-family:宋体;font-size:14px;">第二十二条：会员违反本协议规定，即视为会员违约，本俱乐部有权终止会员资格，并将剩余会员费用作为违约金扣除，不予退还。会员不得以任何形式在本俱乐部内从事与本俱乐部经营范围有冲突的盈利与非盈利行为，一经本俱乐部单方确认，有权终止会员资格，并将剩余会员费用作为违约金扣除，不予退还。</span><span style="font-family:宋体;"></span>
        </p>
        <p class="MsoNormal">
            <span style="font-family:宋体;font-size:14px;">俱乐部的义务</span><span style="font-family:宋体;"></span>
        </p>
        <p class="MsoNormal">
            <span style="font-family:宋体;font-size:14px;">第二十三条：提供场馆、设施及课程服务，同时也提供业界咨询。</span>
        </p>
        <p class="MsoNormal">
            <span style="font-family:宋体;font-size:14px;">第二十四条：调整或取消课程安排时，及时告知会员。</span>
        </p>
        <p class="MsoNormal">
            <span style="font-family:宋体;font-size:14px;">第二十五条：尊重会员个人隐私，有义务为会员个人资料提供保密工作。</span><span style="font-family:宋体;"></span>
        </p>
        <p class="MsoNormal">
            <span style="font-family:宋体;font-size:14px;">&nbsp;</span>
        </p>
        <p class="MsoNormal">
            <b><span style="font-family:宋体;font-size:14px;">第五章 会员购买私人教练课程 </span></b><b><span style="font-family:宋体;"></span></b>
        </p>
        <p class="MsoNormal">
            <span style="font-family:宋体;font-size:14px;">第二十六条：会员在会员卡有效期内可以自愿购买私人教练课程（以下简称“私教”），费用单独收取，与会籍费无关。私教仅限本人使用，不得转让。</span>
        </p>
        <p class="MsoNormal">
            <span style="font-family:宋体;"><span style="font-size:14px;">第二十七条：已购买私教的会员在每次上课前须</span><span style="color:red;font-size:14px;">到本俱乐部前台处刷会员卡确认相关信息。</span></span>
        </p>
        <p class="MsoNormal">
            <span style="font-family:宋体;"><span style="font-size:14px;">第二十八条：私教必须以</span><span style="color:#4BACC6;font-size:14px;">个人有效会员卡为基础，会</span><span style="font-size:14px;">员卡过期应续买会员卡，如不续买，剩余私教课程将不能继续使用。</span></span>
        </p>
        <p class="MsoNormal">
            <span style="font-family:宋体;font-size:14px;">第二十九条：私教一经办理后，不得办理退换、转让或退款手续，亦不能抵消任何会员账户余额，有效期满后将自动作废。</span>
        </p>
        <p class="MsoNormal">
            <span style="font-family:宋体;font-size:14px;">第三十条：若原定私人教练有任何特殊情况（休假、离职等）无法完成课程时，本俱乐部保留更换私人教练的权利，且有权更改私教内容。</span>
        </p>
        <p class="MsoNormal">
            <span style="font-family:宋体;font-size:14px;">第三十一条：会员须提前</span><span style="font-family:宋体;"><span style="font-size:14px;">24</span><span><span style="font-size:14px;">小时与教练</span><span style="color:#4BACC6;font-size:14px;">预约私教课程。预约成功后，如果不能按时到场，须在课程约定时间前</span></span><span style="color:#4BACC6;"><span style="font-size:14px;">5</span><span style="font-size:14px;">个小时致电或</span></span><span style="font-size:14px;">亲临本俱乐部通知有关人员取消当次课程。否则，会员仍须缴付该课程的相关费用。</span></span>
        </p>
        <p class="MsoNormal">
            <span style="font-family:宋体;"><span style="font-size:14px;">第三十二条： 如果会员了解自己身体有任何关于身体方面的原因而导致不能使用本俱乐部的任一器械或运动项目，请事先告知自己的私人教练。否则如果发生身体危险，或达不到会员所希望的目标，本俱乐部不负任何责任。</span><span style="color:#4BACC6;font-size:14px;">收银台为本俱乐部唯一服务项目支付点，任何私自交易的教练指导性服务，本俱乐部不承担任何连带责任。</span></span>
        </p>
        <p class="MsoNormal">
            <span style="font-family:宋体;font-size:14px;">第三十三条：私教包括一对一私教和小组私教。一对一私教会员享受的专业服务内容：定期免费体测</span><span style="font-family:宋体;"><span style="font-size:14px;">,</span><span style="font-size:14px;">专业教练根据客户自身身体素质量身打造一对一课程。小组私教会员享受的专业服务内容：专业教练根据客户自身身体素质打造有乐趣的小团体课程。</span></span>
        </p>
        <p class="MsoNormal">
            <span style="font-family:宋体;font-size:14px;">&nbsp;</span>
        </p>
        <p class="MsoNormal">
            <b><span style="font-family:宋体;font-size:14px;">第六章</span></b><b><span style="font-family:宋体;"><span style="font-size:14px;">&nbsp; </span><span style="font-size:14px;">更衣柜及私人储物柜的使用管理规定 </span></span></b><b><span style="font-family:宋体;"></span></b>
        </p>
        <p class="MsoNormal">
            <span style="font-family:宋体;font-size:14px;">第三十四条：公共更衣柜和私人储物柜为寄存日常用品之用，不得存放现金、电脑、手机、贵重物品及任何食品，禁止存放易燃易爆及非法品，如会员在更衣柜和私人储物柜内存放任何贵重物品而导致遗失失，本俱乐部不负担任何赔偿责任。</span>
        </p>
        <p class="MsoNormal">
            <span style="font-family:宋体;font-size:14px;">第三十五条：公共更衣柜为公共使用，会员需按手牌号码对应的更衣柜进行使用。会员无论任何原因离开本俱乐部时，必须打开更衣柜并不得私自占用，本俱乐部有权在会员不在本俱乐部时清理更衣柜并无法负责保管其中的物品。</span>
        </p>
        <p class="MsoNormal">
            <span style="font-family:宋体;"><span style="font-size:14px;">第三十六条：公共更衣柜由本俱乐部提供手牌，在会员没有办理离场手续前不得带离本俱乐部。如带离本俱乐部丢失则</span><span style="color:#4BACC6;font-size:14px;">需支付</span></span><span style="font-family:宋体;color:#4BACC6;"><span style="font-size:14px;">100</span><span style="font-size:14px;">元</span><span style="font-size:14px;">/</span><span style="font-size:14px;">次的</span></span><span style="font-family:宋体;font-size:14px;">手牌费用。</span>
        </p>
        <p class="MsoNormal">
            <span style="font-family:宋体;font-size:14px;">第三十七条：会员租赁的私人储物柜仅限租赁协议规定的有效时间内使用，会员需在私人储物柜到期前至前台办理续租手续。如不再续约，会员需清空租赁柜并告知前台。若会员卡的有效期届满，私人储物柜的未使用月份将自动作废。</span>
        </p>
        <p class="MsoNormal">
            <span style="font-family:宋体;font-size:14px;">第三十八条：租赁柜到期一周后，如会员不再续约，本俱乐部将对租赁柜进行清理。并无法负责保管其中的物品。</span>
        </p>
        <p class="MsoNormal">
            <span style="font-family:宋体;font-size:14px;">第四十条：租赁私人储物柜的收费标准由本俱乐部制定且可以根据情况随时调整价格，租赁费须预先支付，租赁的私人储物柜仅限会员本人使用，不得转借或转租。</span>
        </p>
        <p class="MsoNormal">
            <span style="font-family:宋体;font-size:14px;">第四十一条</span><span style="font-family:宋体;"><span style="font-size:14px;">:</span><span style="font-size:14px;">私人储物柜一经租赁后，不得办理退换、转租或退款手续。</span></span><span style="font-family:宋体;"></span>
        </p>
        <p class="MsoNormal">
            <span style="font-family:宋体;font-size:14px;">&nbsp;</span>
        </p>
        <p class="MsoNormal">
            <b><span style="font-family:宋体;font-size:14px;">第七章</span></b><b><span style="font-family:宋体;"><span style="font-size:14px;">&nbsp;&nbsp; </span><span style="font-size:14px;">必须申报的情况和禁止的行为</span></span></b><b><span style="font-family:宋体;"></span></b>
        </p>
        <p class="MsoNormal">
            <span style="font-family:宋体;font-size:14px;">第四十二条</span><span style="font-family:宋体;"><span style="font-size:14px;">:</span><span style="font-size:14px;">患有皮肤病、传染病、心脏病、高血压、糖尿病、肝、肾功能不良及其它不适合本俱乐部活动的疾病患者，入会前须向本俱乐部说明和申报已往病史，因隐瞒上述各类病史入会后在本俱乐部发生意外或加重病情的，后果由会员自行承担，本公司和本俱乐部概不负责。</span></span>
        </p>
        <p class="MsoNormal">
            <span style="font-family:宋体;font-size:14px;">第四十三条</span><span style="font-family:宋体;"><span style="font-size:14px;">:</span><span style="font-size:14px;">吸食毒品者不得入会，因隐瞒吸食毒品史而入会者，一经发现立即取消会员资格，所有费用不予退还，造成后果由其本人自行承担，本俱乐部概不负责。</span></span>
        </p>
        <p class="MsoNormal">
            <span style="font-family:宋体;font-size:14px;">第四十四条：会员在酒精、麻醉药物或其他精神药物发生效果时均不得进入本俱乐部参加各项活动，因强行或隐瞒进行活动发生意外的，责任由会员自行承担，本公司和本俱乐部概不负责。进入本俱乐部的人员不准携带和饮用任何含有酒精的的饮料。</span>
        </p>
        <p class="MsoNormal">
            <span style="font-family:宋体;font-size:14px;">第四十五条</span><span style="font-family:宋体;"><span style="font-size:14px;">:</span><span style="font-size:14px;">会员在参加活动后须及时将自己的私人物品带离本俱乐部，本俱乐部不负保管义务，因会员未能及时将私人物品带走而发生遗失，本俱乐部概不负责。</span></span>
        </p>
        <p class="MsoNormal">
            <span style="font-family:宋体;font-size:14px;">第四十六条：会员需提前申明本人健康状况良好，没有因任何医学原因、损伤、残障或其他原因而不能进行本俱乐部的运动项目或使用本俱乐部的所有设施以及私教训练服务。</span>
        </p>
        <p class="MsoNormal">
            <span style="font-family:宋体;font-size:14px;">第四十七条</span><span style="font-family:宋体;"><span style="font-size:14px;">:</span><span style="font-size:14px;">会员签署本协议后，本俱乐部不负责就会员使用设施及接受各种训练服务的身体状况及能力向会员提出医学意见。如会员在签署本协议之时或之后有任何健康方面的担忧，应在使用设施及进行各种训练之前咨询专业医生。</span></span>
        </p>
        <p class="MsoNormal">
            <span style="font-family:宋体;"><span style="font-size:14px;">第四十八条：会员在知悉或理应知悉自身存在任何可能阻碍自己使用本俱乐部全部设施的健身问题，而签署本协议，即表明会员同意本身的练习活动会因此受限制。</span><span style="font-size:14px;background:yellow;">然而由于会员选择签署本协议，仍需缴付有关的费用，犹如会员使用全部设施一样。</span><span style="font-size:14px;">（这句没看懂）</span></span>
        </p>
        <p class="MsoNormal">
            <span style="font-family:宋体;font-size:14px;">第四十九条：会员完全明白，如果不适当使用本俱乐部设施将造成身体的伤害，且由此造成的一切后果都由会员本人承担。</span>
        </p>
        <p class="MsoNormal">
            <span style="font-family:宋体;font-size:14px;">第五十条：会员完全明白：在自己健康状况不佳（包括但不限于患传染性疾病、割伤、擦伤、炎症等）而有可能对自己或其他会员的健康、安全、身心舒适造成损害时，不得使用本俱乐部设施或进行其他训练、活动。</span>
        </p>
        <p class="MsoNormal">
            <span style="font-family:宋体;font-size:14px;">第五十一条：会员认识到健身运动有一定的危险性，并愿意承担该等风险，对于会员使用本俱乐部任何服务、设施等而引起或与之有关的任何人身、财产的意外和损失所导致的任何赔偿、要求、仲裁或诉讼程序，本公司、本俱乐部及员工均无需承担责任。</span>
        </p>
        <p class="MsoNormal">
            <span style="font-family:宋体;font-size:14px;">第五十二条：会员禁止携带宠物或危害公共安全之危险物品进入。</span>
        </p>
        <p class="MsoNormal">
            <span style="font-family:宋体;font-size:14px;">第五十三条：</span><span style="font-family:宋体;background:yellow;"><span style="font-size:14px;">15</span><span style="font-size:14px;">周岁以下（含</span><span style="font-size:14px;">15</span><span style="font-size:14px;">岁）</span></span><span style="font-family:宋体;font-size:14px;">的未成年人禁止使用本俱乐部健身设施进行器械训练、力量训练等其他影响身体发育的健身项目，禁止使用桑拿浴室。</span><span style="font-family:宋体;font-size:14px;">（请确认是</span><span style="font-family:宋体;"><span style="font-size:14px;">15</span><span style="font-size:14px;">岁还是</span><span style="font-size:14px;">16</span><span style="font-size:14px;">岁还是</span><span style="font-size:14px;">18</span><span style="font-size:14px;">岁？）</span></span><span style="font-family:宋体;line-height:1.5;font-size:14px;">&nbsp;</span>
        </p>
        <p class="MsoNormal">
            <span style="font-family:宋体;font-size:14px;">第五十四条：会员在本俱乐部使用设施导致自身或他人受伤、死亡：若因本俱乐部原因导致，由本俱乐部负相关责任；若因会员自身原因导致，由会员本人负全部责任。</span><span style="font-family:宋体;"></span>
        </p>
        <p class="MsoNormal">
            <br />
        </p>
        <p class="MsoNormal">
            <b><span style="font-family:宋体;font-size:14px;">第八章</span></b><b><span style="font-family:宋体;"><span style="font-size:14px;">&nbsp; </span><span style="font-size:14px;">附则</span></span></b><b><span style="font-family:宋体;"></span></b>
        </p>
        <p class="MsoNormal">
            <span style="font-family:宋体;font-size:14px;">第五十五条</span><span style="font-family:宋体;"><span style="font-size:14px;">:</span><span style="font-size:14px;">本协议所指通用卡种，通用卡使用范围为协议签订日之前开业的乐健汇健身俱乐部。</span></span>
        </p>
        <p class="MsoNormal">
            <span style="font-family:宋体;font-size:14px;">第五十六条：会员不得在本俱乐部内进行未经本中心授权允许的任何收费类活动，包括但不限于对于指导本俱乐部内其他会员训练</span><span style="font-family:宋体;"><span style="font-size:14px;">30</span><span style="font-size:14px;">分钟以上时间的情况，否则本俱乐部有权终止该会员资格，并将剩余会员费用作为违约金扣除，不予退还。</span></span>
        </p>
        <p class="MsoNormal">
            <span style="font-family:宋体;font-size:14px;">第五十七条：为保证会员的健身运动有效、安全与舒适，本俱乐部建议会员在锻炼时穿着运动鞋与相应的运动服装，不佩戴首饰，不佩戴纪念章，不携带小刀、钥匙、别针和其它尖利或硬质物体等物件。</span><span style="font-family:宋体;line-height:1.5;font-size:14px;">&nbsp;</span>
        </p>
        <p class="MsoNormal">
            <span style="font-family:宋体;font-size:14px;">第五十八条：本协议若经涂改或有手写条款，均视为无效修改，仍以本协议原始印刷文字为准。</span>
        </p>
        <p class="MsoNormal">
            <span style="font-family:宋体;font-size:14px;">第五十九条：本协议具有约束力，并取代任何口头或书面协定。且若法院宣布本协议任何部分无效，本协议其余部分将不受影响并继续有效。本公司、本俱乐部因任何原因未能执行本协定下的任何权利，并不代表本公司、本俱乐部将放弃于日后执行有关权力的权利</span><span style="font-family:宋体;font-size:14px;">（以下无正文）。</span>
        </p>
    </div>
</div>
