<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <!--boostrap&jquery-->
        <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="../bootstrap/css/bootstrap-theme.min.css"/>
        <script src="../javascripts/jquery.min.js"></script>
        <script src="../bootstrap/js/bootstrap.min.js"></script>

        <!--bootstrap table-->
        <link rel="stylesheet" href="../bootstrap-table/bootstrap-table.min.css">
        <script src="../bootstrap-table/bootstrap-table.min.js"></script>
        <script src="../bootstrap-table/bootstrap-table-zh-CN.min.js"></script>

        <!--jqueryprint-->
        <script src="../javascripts/jquery-migrate-1.1.0.js"></script>
        <script src="../javascripts/jquery.jqprint-0.3.js"></script>

        <!--tool-->
        <script src="../javascripts/underscore.js"></script>
        <link rel="stylesheet" href="../stylesheets/style.css"/>

        <!--<script src="http://cdn.bootcss.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>-->
    </head>
    <body>
        <div>
            <img src="../images/log.png" style="width: 20%;">
        </div>
        <div class="row">
            <%- include('siderMenu'); -%>
            <div class="col-xs-10">
