<%- include('head'); -%>
<style type="text/css">
    #input{
        margin: 50px 50px;
    }
</style>


<%- include('contract'); -%>
<br>
<div>
    <button id="printContract" class="btn btn-primary">
        打印合同
    </button>

    <button id="newMemberButton" class="btn btn-primary">
        创建会员
    </button>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true">×
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    创建会员
                </h4>
            </div>
            <div class="modal-body">

                <form id="newMember" action="enterInput" method="POST">
                    <div class="form-group">
                        <label>请刷卡</label>
                        <input class="form-control" type="text" id="memberNum" name="memberNum">
                    </div>

                    <div class="form-group">
                        <label>合同号</label>
                        <input class="form-control" type="text" id="contractNum" name="contractNum">
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    关闭
                </button>
                <button id="submit" type="button" class="btn btn-primary">
                    提交
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<script>

    $("#submit").click(function() {
        var memberNum = $("#memberNum").val();
        if (memberNum) {
            $('#newMember').submit();
            $('#memberNum').val("");
            $('#contractNum').val("");
        }
    });

    $('#newMemberButton').click(function() {
        $('#myModal').modal('show');
        setTimeout(function() {
            $('#memberNum').focus();
        }, 500);

    });

    $("#memberNum").keyup(function(event) {
        if (event.keyCode === 13) {
            $("#submit").click();
        }
    });

    $('#printContract').click(function() {
        $.get('/member/getContractNum',function(data) {
            $("#contractNumStr").text(function() {
                return data;
            });

            $("#contractNum").val(data);
            $("#contractNum").attr("readOnly", true);

            $('#contract').jqprint();
        });
    });
</script>

<%- include('footer'); -%>
