<%- include('head'); -%>
<style type="text/css">
    #input{
        margin: 200px 200px;
    }
</style>

<form id="input" action="enterInput" method="POST">
    <div class="form-group">
        <label>输入卡号</label>
        <input class="form-control" type="text" name="memberNum">
    </div>
</form>
<%- include('footer'); -%>