<div class="col-xs-2" id="sideMenu">

    <div class="panel">
        <div class="btn btn-lg">
            <p ><span class="glyphicon glyphicon-user" aria-hidden="true"></span> User </p>
        </div>
    </div>

    <div>
        <ul class="nav nav-stacked nav-pills">
            <li><a href="/member/inputNum">新建会员</a></li>
            <li><a href="/member/showList">会员列表</a></li>
            <li><a href="/member/inputNum">会员协议</a></li>
        </ul>
    </div>
</div>
